/* main_banner */

.main_banner {    
    margin-bottom: 140px;
    position: relative;
    overflow-x: hidden;
}

.swiper1 .swiper-slide {
    width: 100%;
    height: 700px;
    cursor: pointer;
}

.swiper1 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper1 .swiper-pagination {
    width: 30px;
    position: absolute;
    left: 80px;
    bottom: 250px;
}

.swiper-pagination-bullet {
    font-family: 'SUIT', sans-serif;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    color: #999;
    opacity: 1;
    background: rgba(0, 0, 0, 0.0);
    padding: 8px 0;
}

.swiper-pagination-bullet-active {
    color: #000;
    font-weight: 700;
    position: relative;
}

.swiper-pagination-bullet-active:not(:last-child) {
    padding-bottom: 107px;
}

.swiper-pagination-bullet-active:last-child {
    padding-top: 107px;
}

.swiper-pagination-bullet-active:last-child::after {
    content: "";
    display: block;
    height: 75px;
    margin: -16px auto;
    border-left: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-pagination-bullet-active:not(:last-child)::after {
    content: "";
    display: block;
    height: 75px;
    margin: 16px auto;
    border-left: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main_banner 끝*/


/* special */

.main_special {
    margin-bottom: 160px;
}

.special_list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.special_item {
    width: 336px;
    cursor: pointer;
}

.special_item_img {
    width: 100%;
}

/* special 끝*/

/* best seller */

.main_best {
    margin-bottom: 160px;
    width: 100%;
}

.main_best .swiper2 {
    width: 100%;
}

.main_best .swiper2 .swiper-slide {
    width: 480px;
    height: auto;
    position: relative;
}

.main_best .swiper2 .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.main_best .hover_box {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.best_text_box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.best_brand {
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: 700;
}

.best_name {
    font-size: 20px;
    padding-bottom: 12px;
    font-weight: 300;
}

.best_price {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
}


.swiper2 .swiper-slide:hover .hover_box{
    display: block;
}

/* best seller 끝*/

/* new fabric */

.main_new {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    box-sizing: border-box;
    margin-bottom: 160px;
}

.new_left {
    flex: 1;
}

.new_left_item {
    position: relative;
}

.new_left img {
    width: 100%;
    cursor: pointer;
}

.title_new {
    font-size: 124px;
    font-family: 'Italiana', serif;
}

.new_right {
    position: relative;
    cursor: pointer;
    flex: 1;
}

.new_right img {
    width: 100%;
}

.new_right img:last-child {
    padding-top: 16px;
}

/* new fabric 끝*/

/* hotdeal */

.main_hotdeal {
    width: 100%;
    background: #FFF9F2;
    padding: 40px;
    display: flex;
    margin-bottom: 160px;
    box-sizing: border-box;
}

.hotdeal_contents {
    display: flex;
}

.contents_left {
    flex: 1;
    background: #fff;
    width: 708px;
    height: 720px;
    position: relative;
    margin-right: 56px;
}

.time_box {
    display: inline-block;
    padding: 8px 17px;
    margin: 40px 32px;
    background: #000;
    color: #fff;
    border-radius: 20px;
}

.contents_left img {
    width: 437px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contents_right {
    flex: 1;
    position: relative;
    padding-top: 100px;
}

.title_hotdeal {
    font-size: 48px;
    margin-bottom: 60px;
}

.title_discount {
    font-size: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.hotdeal_brand {
    font-size: 16px;
    padding-bottom: 4px;
}

.hotdeal_name {
    font-size: 20px;
    padding-bottom: 12px;
}

.hotdeal_price {
    font-size: 20px;
}

/* hotdeal 끝*/

/* top searched */

.searched {
    width: 100%;
    position: relative;
    margin-bottom: 160px;
    overflow-x: hidden;
}

.searched .title_searched {
    width: 1668px;
    font-size: 128px;
    position: absolute;
    top: 0;
    left: 40%;
}

.searched .swiper3 {
    width: 100%;
}

.searched .swiper3 .swiper-slide:first-child {
    width: 11%;
}

.searched .swiper3 .swiper-slide:last-child {
    width: 11%;
}

.searched .swiper3 .swiper-wrapper {
    width: 100%;
    margin-top: 50px;
    align-items: flex-end;
}

.searched .swiper3 .swiper-slide {
    width: 416px;
    cursor: pointer;
}

.searched .swiper3 .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.text_box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 8px;
}

.item_number {
    font-weight: 700;
}

.item_image {
    width: 416px;
}

/* top searched 끝*/

/* summer_items */

.summer_items {
    margin-bottom: 160px;
}

.summer_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.summer_left {
    width: 50%;
    position: relative;
}

.summer_right {
    width: 50%;
    position: relative;
}

.summer_list img {
    width: 100%;
    cursor: pointer;
}

.summer_left_title {
    position: absolute;
    left: 32px;
    top: 40px;
    color: #fff;
}

.summer_right_title {
    position: absolute;
    left: 32px;
    top: 40px;
    color: #fff;
}

.en_title {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.ko_title {
    font-size: 20px;
    font-weight: 300px;
}

/* summer_items 끝 */

/* adorn */

.adorn_promotion {
    width: 100%;
    height: 755px;
    margin-bottom: 160px;
    overflow: hidden;
}

.adorn_promotion .swiper-slide {
    width: 411px;
    height: 600px;
}

.adorn_promotion .swiper2 .promotion_image {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.adorn_promotion .swiper2 .promotion_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promotion {
    font-weight: 600;
    margin-bottom: 8px;
}

.brend {
    font-size: 14px;
    color: #404040;
}

/* adorn 끝 */



@media (max-width: 1440px) {

    .h_gnb_bnr {
        width: 100%;
    }

    .h_top {
        width: 100%;
    }

    .main_banner {
        width: 1416px;
    }

    .swiper1 .swiper-pagination {
        bottom: 0;
        left: 0;
    }

    .main_new {
        width: 100%;
    }

    .title_new {
        font-size: 110px;
    }

    .summer_items {
        width: 100%;
    }

}